<mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="รายงานการใช้ไฟฟ้า">
          <mat-card-content>
              <mat-form-field>
                  <mat-select [(value)]="Monthselected">
                    <mat-option value="January">January</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="May">May</mat-option>
                    <mat-option value="June">June</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(value)]="Yearselected">
                      <mat-option value="2018">2018</mat-option>
                    </mat-select>
                  </mat-form-field>
  
            <div class="search-div">
              <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="ค้นหาห้อง" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
  
            </div>
            <div class="mat-elevation-z8 size">
              <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="room" sticky>
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อห้อง</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.room}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="username" >
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อมิเตอร์ (Mac Address)</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.Maddr}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>ดูสถิติการใช้ไฟฟ้า</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" (click)="openDialog(element.room)">
                      <mat-icon>search</mat-icon> เลือก
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>
        </mat-tab>
  
      </mat-tab-group>
    </mat-card-content>
  </mat-card>