.mat-button-toggle-checked {
    background-color: rgba(7, 65, 255, 0.712);
    color: white;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }